<div class="card">
  <div class="card-body">
    <h4 class="card-title">Add Company</h4>
    <form action="/add_company" method="POST">
      <div class="mb-3">
        <label for="company" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          name="company"
          id="company"
          aria-describedby="helpId"
          placeholder="Company Name"
        />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input
          type="text"
          class="form-control"
          name="phone"
          id="phone"
          aria-describedby="helpId"
          placeholder="Phone"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
