<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/"
      ><i class="fa-solid fa-bus"></i> LA PARADA</a
    >
    <div class="d-flex gap-2" role="group">
      <a class="btn btn-dark" href="/" role="button"
        ><i class="fa-solid fa-house"></i> Inicio</a
      >
      {% if request.path != '/dashboard/' %}
      <a class="btn btn-primary" href="/dashboard/" role="button"
        ><i class="fa-regular fa-circle-left"></i> Volver</a
      >
      {% endif %}
      <a class="btn btn-danger" href="/logout" role="button"
        ><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
        Salir</a
      >
    </div>
  </div>
</nav>
