{% if cities %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Cities</h4>
    <div class="table-responsive-md">
      <table class="table table-ligth">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">City</th>
          </tr>
        </thead>
        <tbody>
          {% for city in cities %}
          <tr>
            <td>{{ city["id"] }}</td>
            <td>{{ city["city"] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title text-center">No hay Datos</h4>
  </div>
</div>
{% endif %}