{% if companies %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Companies</h4>
    <div class="table-responsive-md">
      <table class="table table-ligth">
        <thead class="text-center">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Company</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for company in companies %}
          <tr>
            <td>{{ company["id"] }}</td>
            <td>{{ company["company"] }}</td>
            <td>{{ company["phone"] }}</td>
            <td>
              <div class="btn-group btn-group-sm" role="group" aria-label="actions">
                <a href="/company/show/{{ company["id"] }}" class="btn btn-success"><i class="fa-regular fa-eye"></i></a>
                <a href="/company/edit/{{ company["id"] }}" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="/company/delete/{{ company["id"] }}" class="btn btn-danger"><i class="fa-solid fa-eraser"></i></a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% else %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title text-center">No hay Datos</h4>
  </div>
</div>
{% endif %}